.tabbar{
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		height: 110rpx;
		background-color: #FFFFff;
		//position: fixed;
		border-top: 1px solid #eee;
		user-select: none;
		&__item{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 1;
		}
		&__svg{
			display: flex;
			width:20px;
			height:20px;
			svg{
				width: 100%;
				height: 100%;
			}
		}
		&__name{
			height:auto;
			padding-top:  2px;
			font-size: 10px;
			transition: color .3s;
			color: #4a4e57;
			
		}
		.transition_move1,.transition_move2,.transition_move3{
			transform: translate(-50px,50px);
		}
		#home-circle{
		    stroke-dasharray:44 44;
		    stroke-dashoffset:0;
		}
		#explore-arrow{
		    stroke-dasharray:39 39;
		    stroke-dashoffset:0;
		}
		#me-line{
		    stroke-dasharray:23 23;
		    stroke-dashoffset:0;
		}
		#chat-circle1{
			transform-origin: 13px 24px;
		}
		#chat-circle2{
			transform-origin: 25px 24px;
		}
		#chat-circle3{
			transform-origin: 37px 24px;
		}
		.on{
			.tabbar__name{
				color: #5182fb;
			}
			svg{
				animation: heartbeat 1s;
			}
			#home-circle{
				animation: home-circle 1s ease forwards;
			}
			#explore-arrow{
				animation: explore-arrow 1s ease forwards;
			}
			#me-line{
				animation: me-line 1s ease forwards;
			}
			#chat-circle1{
				animation: chat-circle 1s ease forwards;
			}
			#chat-circle2{
				animation: chat-circle 1s .15S  ease forwards;
			}
			#chat-circle3{
				animation: chat-circle 1s .3S ease forwards;
			}
			.transition_move1{animation: transition-move 0.5s 0.3s forwards;}
			.transition_move2{animation: transition-move 0.5s 0.35s forwards;}
			.transition_move3{animation: transition-move 0.5s 0.4s forwards;}
		}
	}
	/**
	 * 心跳动画
	 */
	@keyframes heartbeat{
		0%{transform: scale(1);}
		20%{transform: scale(0.8);}
		40%{transform: scale(1);}
		60%{transform: scale(0.9);}
		80%,100%{transform: scale(1);}
	}
	/**
	 * 路径动画
	 * @params {string} $name 关键帧名字
	 * @params {string} $length 路径长度
	 * @params {string} $startColor 开始动画路径的颜色
	 * @params {string} $endColor 结束动画路径的颜色
	 */
	@mixin pathKeyframes($name,$length,$startColor:#4a4e57,$endColor:#ffffff) {
		@keyframes $name{
			0%{
				stroke:$startColor;
				stroke-dashoffset:0;
				}
			50%{
				stroke:$startColor;
				stroke-dashoffset:$length;
			}
			50.1%{
				stroke:$endColor;
				stroke-dashoffset:$length*-1;
			}
			100%{
				stroke:$endColor;
				stroke-dashoffset:0;
			}
		}
	}
	@include pathKeyframes(home-circle,44);
	@include pathKeyframes(explore-arrow,39);
	@include pathKeyframes(me-line,23);
	
	/*闪屏移动*/
	@keyframes transition-move{
		100%{
			transform: translate(0,0);
		}
	}
	
	// 尬聊小圆 关键帧
	@keyframes chat-circle{
			0%{
				fill:#4a4e57;
				transform: scale(1);
			}
			50%{
				fill:#4a4e57;
				transform: scale(0);
			}
			50.1%{
				fill:#ffffff;
				transform: scale(1) translateY(0);
			}
			60%{
				fill:#ffffff;
				transform: scale(1) translateY(-10px);
			}
			85%{
				fill:#ffffff;
				transform: scale(1) translateY(10px);
			}
			100%{
				fill:#ffffff;
				transform: scale(1) translateY(0);
			}
	}
